* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* navbar */
nav {
    display: flex;
    background-color: violet;
    justify-content: space-around;
    padding: 10px 0;
    color: white;
    align-items: center;
}

nav .logo {
    letter-spacing: .5em;
    font-family: "Pacifico", cursive, serif;
}

nav ul {
    transition: all 1s;
    list-style: none;
    display: flex;
    width: 45%;
    justify-content: space-between;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-size: .8em;
}

nav ul li a:hover {
    color: #ddd;
}
/* end of navbar */


/* hamburger menu */
.menu-toggle {
    width: 28px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.menu-toggle {
    display: none;
}

.menu-toggle input {
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    scale: 1.1;
    z-index: 9;
    opacity: 0;
}

.menu-toggle span {
    display: block;
    width: 100%;
    border-radius: 2px;
    height: 3px;
    background-color: white;
    transition: all .5s;
}
/* end of hamburger menu */


/* hamburger menu animation */
.menu-toggle span:first-of-type {
    transform-origin: 0 0;
}

.menu-toggle span:last-of-type {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:first-of-type {
    transform: rotate(45deg);
    background-color: red;
}

.menu-toggle input:checked ~ span:nth-child(3) {
    scale: 0;
    opacity: 0;
}

.menu-toggle input:checked ~ span:last-of-type {
    transform: rotate(-45deg) translate(-2px, 1px);
    background-color: red;
}
/* end of hamburger menu animation */


/* responsive breakpoint */

/* tablet size */
@media screen and ( max-width: 768px ) {
    nav ul {
        width: 55%;
    }    
}
/* end of tablet size */


/* mobile size */
@media screen and ( max-width: 576px ) {
    nav {
        justify-content: space-between;
        padding: 10px 15px;
    }

    nav ul {
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        opacity: 0;
        background-color: pink;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: -9;
    }

    nav ul li {
        transition: all 1s;
        scale: 0;
        opacity: 0;
    }

    nav ul li.fade {
        scale: 1;
        opacity: 1;
    }

    nav ul.slide {
        width: 45%;
        opacity: .8;
    }

    .menu-toggle {
        display: flex;
    }    
}
/* end of mobile size */

/* end of responsive breakpoint */